// Mixins and Variables

$c-red: #c5232d; //rgba(197, 35, 45, 100)
$c-grey: #2a2a2a; //rgba(42, 42, 42, 100)
$c-black: #231c07; //rgba(35, 28, 7, 100)
$c-offwhite: #fff8f0; //rgba(255, 248, 240, 100)
$c-mint: #79b791; //rgba(121, 183, 145, 100)

// Icon colors:
// #FF1053, #6699CC, #FFF275, #3BA99C, #7A306C


$c-red-dark: darken($c-red, 15%);
$c-grey-light: #7a7a7a;


// Mixins

@mixin transition($speed) {
	-webkit-transition: all $speed ease;
	-moz-transition: all $speed ease;
	-ms-transition: all $speed ease;
	-o-transition: all $speed ease;
	transition: all $speed ease;
}
