// Services


#services-single{
	position: relative; 
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
	z-index:2;
}
#services-single #last-work h5{
	text-align:left;
}
#services-single #last-work h6{
	text-align:left;
}
#services-single #last-work p{
	text-align:left;
}
.parallax5 {
	background: url('../images/bg/header-bg-01.jpg') repeat fixed;
	background-size: cover;
	position: absolute;
	top: 0; 
	left: 0; 
	right: 0;
	bottom: 0;
	z-index: -1;
	width:100%;
}
@media only screen and (min-width: 1930px) { .parallax5 { background-size: cover; } }
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.parallax5 { background-size: cover; background-attachment: scroll; background-position: top center!important; }
}
@media only screen and (max-width: 959px) {
	.parallax5 { background-size: cover; background-attachment: scroll; background-position: top center!important; }
}

.service-1 {
	h4 {
		text-align: left;
	}
	ul {
		> li {
			text-align: left;
			font-size: 20px;
			line-height: 30px;
		}
	}
}


.service-2 {
	h4 {
		text-align: right;
	}
	ul {
		> li {
			text-align: right;
			font-size: 20px;
			line-height: 30px;
		}
	}
}

.icon-center-container {
	text-align: center;
	img {
		max-width: 100%;
	}
}


.icon-left4{
	padding-left:35px;
	background:url('../images/icon4.png') no-repeat left center;
	background-size:20px 18px;
}
.icon-left5{
	padding-left:35px;
	background:url('../images/icon5.png') no-repeat left center;
	background-size:20px 18px;
}
.icon-left6{
	padding-left:35px;
	background:url('../images/icon6.png') no-repeat left center;
	background-size:20px 18px;
}.icon-left7{
	padding-left:35px;
	background:url('../images/icon7.png') no-repeat left center;
	background-size:20px 18px;
}
.icon-left8{
	padding-left:35px;
	background:url('../images/icon8.png') no-repeat left center;
	background-size:20px 18px;
}
.icon-left9{
	padding-left:35px;
	background:url('../images/icon9.png') no-repeat left center;
	background-size:20px 18px;
}
h4.service-category{
	text-align:center;
	color: $c-red;
	font-size: 24px;
	padding-bottom:5px;
}
#slider-wrap .subtext-plans{
	text-align:center;
	font-family: 'Lato', sans-serif;
	text-transform:uppercase;
	font-weight:400;
	font-size: 14px;
	line-height:20px;
	color:$c-red;
	padding-bottom:30px;
	max-width: 650px;
	margin: 0 auto;
}
.plan{
	position:relative;
	text-align:center;
	background:rgba(59,62,69,.07);
	width: 100%;
	border-top:3px solid #3b3e45;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	padding-bottom:40px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}
.plan:hover{
	-webkit-transform: scale(0.95);
	-moz-transform: scale(0.95);
	-ms-transform: scale(0.95);
	-o-transform: scale(0.95);
	transform: scale(0.95);
}
.plan .headtext{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 20px;
	text-align:center;
	font-weight:700;
	width: 100%;
	color:#3b3e45;
	padding-left:20px;
	padding-right:20px;
	padding-top:40px;
	padding-bottom:40px;
}
.plan .price{
	font-family: 'Lato', sans-serif;
	text-transform:uppercase;
	font-weight:400;
	font-size: 14px;
	line-height: 14px;
	text-align:center;
	width: 100%;
	color:#fff;
	background:#3b3e45;
	padding-left:20px;
	padding-right:20px;
	padding-top:20px;
	padding-bottom:20px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}
.plan:hover .price{
	background:rgba(59,62,69,.9);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.big-price-text{
	font-family: 'Lato', sans-serif;
	font-size: 40px;
	line-height: 40px;
	font-weight:700;
}
.big-price-dol{
	font-family: 'Montserrat', sans-serif;
	font-size: 26px;
	line-height: 26px;
	font-weight:400;
	opacity:.4;
	padding-right:2px;
}

.plan .list-plan{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 14px;
	text-align:center;
	font-weight:400;
	width: 100%;
	color:#3b3e45;
}
.plan .list-plan li{
	margin-left:20px;
	margin-right:20px;
	padding-top:15px;
	padding-bottom:15px;
	border-bottom:1px dashed rgba(59,62,69,.2);
}
.plan .list-plan li:first-child{
	padding-top:40px;
}
.plan .list-plan li:last-child{
	border-bottom:none;
	padding-bottom:0;
}
.plan .list-plan li span{
	color:rgba(59,62,69,.7);
}







.plan1{
	position:relative;
	text-align:center;
	background:rgba(59,62,69,.07);
	width: 100%;
	border-top:3px solid #0092B2;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	padding-bottom:40px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}
.plan1:hover{
	-webkit-transform: scale(0.95);
	-moz-transform: scale(0.95);
	-ms-transform: scale(0.95);
	-o-transform: scale(0.95);
	transform: scale(0.95);
}
.plan1 .headtext{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 20px;
	text-align:center;
	font-weight:700;
	width: 100%;
	color:#3b3e45;
	padding-left:20px;
	padding-right:20px;
	padding-top:40px;
	padding-bottom:40px;
}
.plan1 .price{
	font-family: 'Lato', sans-serif;
	text-transform:uppercase;
	font-weight:400;
	font-size: 14px;
	line-height: 14px;
	text-align:center;
	width: 100%;
	color:#fff;
	background:#0092B2;
	padding-left:20px;
	padding-right:20px;
	padding-top:20px;
	padding-bottom:20px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}
.plan1:hover .price{
	background:rgba(192,57,43,.9);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.plan1 .list-plan{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 14px;
	text-align:center;
	font-weight:400;
	width: 100%;
	color:#3b3e45;
}
.plan1 .list-plan li{
	margin-left:20px;
	margin-right:20px;
	padding-top:15px;
	padding-bottom:15px;
	border-bottom:1px dashed rgba(59,62,69,.2);
}
.plan1 .list-plan li:first-child{
	padding-top:40px;
}
.plan1 .list-plan li:last-child{
	border-bottom:none;
	padding-bottom:0;
}
.plan1 .list-plan li span{
	color:rgba(59,62,69,.7);
}

.plan1 .cl-effect-20 a span {
	background: #0092B2;
}
#show-wrap{
	position: relative; 
	margin: 0 auto;
	padding-top:70px;
	padding-bottom:70px;
	width: 100%;
	overflow:hidden;
	z-index:2;
}
#show-wrap img{
	width: 100%;
	height:auto;
	display:block;
}
.arrow-wrap{
	position: relative; 
	margin: 0 auto;
	width: 100%;
	z-index:2;
}


  @keyframes arrowsservices {
    0% { margin-top:0; }
    10% { margin-top:-5px; }
    20% { margin-top:0; }
    30% { margin-top:-10px; }
    40% { margin-top:5px; }
    50% { margin-top:-5px; }
    60% { margin-top:0; }
    70% { margin-top:-5px; }
    80% { margin-top:5px; }
    90% { margin-top:-5px; }
    100% { margin-top:0; }
  }
  @-webkit-keyframes arrowsservices {
    0% { margin-top:0; }
    10% { margin-top:-5px; }
    20% { margin-top:0; }
    30% { margin-top:-10px; }
    40% { margin-top:5px; }
    50% { margin-top:-5px; }
    60% { margin-top:0; }
    70% { margin-top:-5px; }
    80% { margin-top:5px; }
    90% { margin-top:-5px; }
    100% { margin-top:0; }
  }

.arrow-wrap .arrow-down1{
	position:absolute;
	top:47%;
	right:31%;
	width: 30px;
	height:50px;
	background:url('../images/arrow_down.png') no-repeat center center;
	background-size:30px 50px;
	z-index:6;
	cursor:pointer;
	-webkit-transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	-ms-transition: all .35s ease-in-out;
	-o-transition: all .35s ease-in-out;
	transition: all .35s ease-in-out;
    -webkit-animation: arrowsservices 4.8s infinite;
    -webkit-animation-delay: 1s;
    animation: arrowsservices 4.8s infinite;
    animation-delay: 1s;
}
.arrow-wrap .arrow-down2{
	position:absolute;
	top:0;
	right:43%;
	width: 30px;
	height:50px;
	background:url('../images/arrow_down.png') no-repeat center center;
	background-size:30px 50px;
	z-index:6;
	cursor:pointer;
	-webkit-transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	-ms-transition: all .35s ease-in-out;
	-o-transition: all .35s ease-in-out;
	transition: all .35s ease-in-out;
    -webkit-animation: arrowsservices 5.5s infinite;
    -webkit-animation-delay: 1s;
    animation: arrowsservices 5.5s infinite;
    animation-delay: 1s;
}
.arrow-wrap .arrow-down3{
	position:absolute;
	top:32%;
	right:50%;
	width: 30px;
	height:50px;
	background:url('../images/arrow_down.png') no-repeat center center;
	background-size:30px 50px;
	z-index:6;
	cursor:pointer;
	-webkit-transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	-ms-transition: all .35s ease-in-out;
	-o-transition: all .35s ease-in-out;
	transition: all .35s ease-in-out;
    -webkit-animation: arrowsservices 6s infinite;
    -webkit-animation-delay: 1s;
    animation: arrowsservices 6s infinite;
    animation-delay: 1s;
}
.arrow-wrap .arrow-down4{
	position:absolute;
	top:40%;
	right:70%;
	width: 30px;
	height:50px;
	background:url('../images/arrow_down.png') no-repeat center center;
	background-size:30px 50px;
	z-index:6;
	cursor:pointer;
	-webkit-transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	-ms-transition: all .35s ease-in-out;
	-o-transition: all .35s ease-in-out;
	transition: all .35s ease-in-out;
    -webkit-animation: arrowsservices 4s infinite;
    -webkit-animation-delay: 1s;
    animation: arrowsservices 4s infinite;
    animation-delay: 1s;
}

.parallax6 {
	background: url('../images/3.jpg') repeat fixed;
	background-size: cover;
	position: absolute;
	top: 0; 
	left: 0; 
	right: 0;
	bottom: 0;
	z-index: -1;
	width:100%;
}
@media only screen and (min-width: 1930px) { .parallax6 { background-size: cover; } }
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.parallax6 { background-size: cover; background-attachment: scroll; background-position: top center!important; }
}
@media only screen and (max-width: 959px) {
	.parallax6 { background-size: cover; background-attachment: scroll; background-position: top center!important; }
}
.color-background-services{
	background: rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 0; 
	left: 0; 
	right: 0;
	bottom: 0;
	z-index: 1;
	width:100%;
}

.service {
	h5 {
		margin-bottom: 40px;
	}
	p {
		font-size: 15px;
		line-height: 22px;
	}
	i {
		color:  $c-red;
	}
	ul {
		> li {
			padding-left: 40px;
			text-indent: -20px;
			padding-bottom: 7px;
			&:before {
				content: '\f00c';
				font-family: 'fontAwesome';
				padding-right: 5px;
			}
		}
	}
}


.panel-default {
	border: none;
	>.panel-heading {
		border: none;
		&+.panel-collapse {
			>.panel-body {
				border: none;
			}
		}
	}
}

.panel-body {
	padding: 40px;
}

.panel-title>.small,
.panel-title>.small>a,
.panel-title>a,
.panel-title>small,
.panel-title>small>a {
	color: $c-red;
	@include transition(0.3s);
	display: block;
	width: 100%;
	height: 100%;
	&:active, &:focus {
		text-decoration: none;
	}
	&:hover {
		text-decoration: none;
		color: $c-red-dark;
	}
}

.panel-title {
	> a {
		&:before {
			content: '\f067';
			font-family: 'fontAwesome';
			padding-right: 10px;
		}
		&[aria-expanded='true'] {
			&:before {
				content: '\f068';
			}
		}
	}
}


// NEW SERVICES ACCORDION STYLES

/* Icon font for arrow icons */
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon_arrows/icomoon.eot');
	src:url('../fonts/icomoon_arrows/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon_arrows/icomoon.woff') format('woff'),
		url('../fonts/icomoon_arrows/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon_arrows/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
} /* Iconfont by Icomoon http://icomoon.io/ */


/* Accordion style */
.cbp-ntaccordion {
	list-style: none;
	margin: 0;
	padding: 0;
}

.cbp-ntsubaccordion {
	list-style: none;
}

.cbp-ntaccordion .cbp-nttrigger {
	cursor: pointer;
} 

.cbp-ntaccordion h3 {
	margin: 0 0 0.3em;
	padding: 1em 0 0.5em;
	border-bottom: 1px solid #ddd;
	font-size: 2.75em;
	font-weight: 300;
}

.cbp-ntaccordion h4 {
	font-size: 1.2em;
	text-transform: uppercase;
	padding: 0.5em 0 0.5em;
	margin: 0 0 0.5em;
}

.cbp-ntaccordion h5 {
	font-size: 1.2em;
	color: #aaa;
	padding: 0.5em 0 0.5em;
	margin: 0 0 0.5em;
}


.service-highlight-icon {
    font-size: 46px;
    float: left;
    padding: 10px 20px 0 30px;
	 width: 100px;
	 text-align: center;
	 color: $c-red;
}


.cbp-ntaccordion .cbp-ntcontent {
	color: $c-black;
	p {
		font-weight: 300;
		line-height: 1.5;
		padding: 2px 0 10px;
		margin: 0;
	}
	.service-highlight-icon ~ p {
		padding-left: 100px;
	}
	.cbp-ntsubaccordion .cbp-ntcontent ul {
		padding: 2px 0 10px;
		line-height: 1.5;
		li {
			padding-left: 20px;
			text-indent: -20px;
			font-weight: 300;
			line-height: 1.5;
			font-size: 18px;
			padding-bottom: 10px;
			&:before {
				content: '\f00c';
				font-family: 'fontAwesome';
				padding-right: 5px;
			}
		}
		
	}
} 

/* Arrow icons */
.cbp-ntaccordion > li > .cbp-nttrigger:before,
.cbp-ntsubaccordion > li > .cbp-nttrigger:before {
	font-family: 'icomoon';
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	color: #ddd;
	margin-right: 0.5em;
	-webkit-font-smoothing: antialiased;
}

.cbp-ntaccordion > li > .cbp-nttrigger:before {
	font-size: 75%;
}

.cbp-ntaccordion > li > .cbp-nttrigger:before {
	content: "\36";
}
.cbp-ntaccordion > li > .cbp-nttrigger:hover:before {
	content: "\35";
	color: inherit;
}
.cbp-ntaccordion > li.cbp-ntopen > .cbp-nttrigger:before,
.no-js .cbp-ntaccordion > li > .cbp-nttrigger:before {
	content: "\34";
	color: inherit;
}

.cbp-ntsubaccordion > li > .cbp-nttrigger:before {
	content: "\32";
}
.cbp-ntsubaccordion > li > .cbp-nttrigger:hover:before {
	content: "\33";
	color: inherit;
}
.cbp-ntsubaccordion > li.cbp-ntopen > .cbp-nttrigger:before,
.no-js .cbp-ntsubaccordion > li > .cbp-nttrigger:before {
	content: "\31";
	color: inherit;
}


/* Initial height is zero */
.cbp-ntaccordion .cbp-ntcontent {
	height: 0;
	overflow: hidden;
}

/* When open, set height to auto */
.cbp-ntaccordion .cbp-ntopen > .cbp-ntcontent,
.cbp-ntsubaccordion .cbp-ntopen > .cbp-ntcontent,
.no-js .cbp-ntaccordion .cbp-ntcontent {
	height: auto;
}

/* Example for media query */
@media screen and (max-width: 32em) { 

	.cbp-ntaccordion {
		font-size: 70%;
	}

}